################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Gas_Boiler_Backend/Gas_Boiler_Backend/bin/Debug/net8.0
/Gas_Boiler_Backend/.vs
/Gas_Boiler_Backend/Gas_Boiler_Backend/obj
